export AI_TOKEN="kek"
export BOT_TOKEN="bek"
export DATABASE_URL="file:./slusha.sqlite"

# Optional - enable telemetry
export LANGFUSE_SECRET_KEY=""
export LANGFUSE_PUBLIC_KEY=""
export LANGFUSE_BASEURL=""
