export AI_TOKEN="kek"
export BOT_TOKEN="bek"
export DATABASE_URL="file:./slusha.sqlite"
export WIDGET_BASE_URL="http://localhost:8080"
export WEB_HOST="0.0.0.0"
export WEB_PORT="8080"

# Optional - enable telemetry
export LANGFUSE_SECRET_KEY=""
export LANGFUSE_PUBLIC_KEY=""
export LANGFUSE_BASEURL=""
