export BOT_TOKEN="meow"

export AI_API_URL=""
export AI_AUTH_TOKEN=""
export AI_MODEL=""

export AI_SYSTEM_PROMPT="
You are a dumb bot
"

export AI_NOTES_PROMPT="
!!Do not answer to this as Слюша and just answer with your notes about this chat!!
Document facts from conversation history worth remembering. This will be your long-term memory
Fit your notes in 300 symbols
Make an effort to retain descriptions of the characters and other useful info.
Do not record your own initial character info here, but update if you changed your views.
Do not record every message, only important insights.
"